<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czxy.ssm.mapper.OrderMapper">
    <select id="findOrdersByUserId" parameterType="string" resultType="order">
        select * from ssm_db1.orders where uid = #{uid}
    </select>

    <resultMap id="ordersResultMap" type="order">
        <id property="oid" column="oid"></id>
        <result property="ordertime" column="ordertime"></result>
        <result property="name" column="name"></result>
        <result property="uid" column="uid"></result>
        <association property="user"
                     select="com.czxy.ssm.mapper.UserMapper.selectById" column="uid"></association>
    </resultMap>
    <select id="selectById" resultMap="ordersResultMap">
        select * from ssm_db1.orders where oid = #{oid}
    </select>
</mapper>