<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper类">
    &lt;!&ndash; 查询 &ndash;&gt;
    <select id="方法名">SQL语句</select>

    &lt;!&ndash; 添加 &ndash;&gt;
    <insert id="方法名">SQL语句</insert>

    &lt;!&ndash; 更新 &ndash;&gt;
    <update id="方法名">SQL语句</update>

    &lt;!&ndash; 删除 &ndash;&gt;
    <delete id="方法名">SQL语句</delete>
</mapper>-->
<mapper namespace="com.czxy.ssm.mapper.UserMapper">
    <select id="selectById" parameterType="string" resultType="com.czxy.ssm.domain.User">
        select * from user where uid = #{id}
    </select>
    <select id="selectAll" parameterType="string" resultType="com.czxy.ssm.domain.User">
        select * from user
    </select>
    <select id="selectByName" parameterType="string" resultType="com.czxy.ssm.domain.User">
        select * from user where username like #{username}
    </select>
    <insert id="insert" parameterType="string" >
        INSERT INTO user (uid, username, name) values (#{uid}, #{name}, #{password});
    </insert>

<!--    <update id="updateByPrimaryKey" parameterType="user">
        update user set username=#{username}, password=#{password}, name=#{name}, email=#{email},birthday=#{birthday},sex=#{sex}, state=#{state} where uid=#{uid}
    </update>-->
    <delete id="deleteByPrimaryKey">
        delete from ssm_db1.user where uid = #{uid}
    </delete>

    <select id="condition" parameterType="userVo" resultType="user">
        select * from user where 1=1
        <if test="name != null name != ''">
            and name like '%${name}%'
        </if>
    </select>
</mapper>