<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis_0921111111111:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatis_0921111111111_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="mybatis_0921111111111/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis_0921111111111" />
        </element>
      </element>
    </root>
  </artifact>
</component>